@tailwind base;
@tailwind components;
@tailwind utilities;






.white-background {
    background: white;
    padding: 2rem;
}

.large-text {
    font-size: 24px;
}

.larger-text {
    font-size: 32px;
}

.shadow {
    box-shadow: 8px 13px 0px 6px #000000
}


.ReactCollapse--collapse {
    transition: height 500ms;
    color: #4bc0c0cc;
}

.font1 {
    font-family: var(--font-luckiest-guy);
  }